@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}


.backgroun-overlay{
    background-image: url(asset/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:500px;
    position: relative;
}


.logo {
    color:white;
}

.logo h2 {
    font-size:24px;
    letter-spacing: 5px;
}

.nav {
    text-align: right;
    margin-top:24px;
}


.nav a {
    margin-left:100px;
    color:white;
    font-size:14;
    text-decoration: none;
    font-weight: 300;
}



.header-box {
    text-align: center;
    margin:0px auto;
    margin-top:90px;
    background-color: rgba(0, 0, 0, 0.7); 
}

.header-box h1 {
    padding-top:50px;
    color:#5162b8;
    font-size: 36px;
}

.header-box h2 {
    font-size: 20px;
    color:white;  
}

.header-box input {
    width:280px;
    padding:5px ;
}

.header-box button {
    margin-top:20px;
    margin-bottom:40px;
    padding:7px 20px;
    background-color: #5162b8;
    border:none;
    color:white;
}


.about {
    background-color: white;
    margin:140px 0px;;
    padding:40px 10px;
    text-align: center;
    -webkit-box-shadow: 10px 11px 37px -13px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 11px 37px -13px rgba(0,0,0,0.57);
    box-shadow: 10px 11px 37px -13px rgba(0,0,0,0.57);
}

.about img {
    width:50px;
}

.about p {
    text-align: justify;
    font-size: 1.2rem;
}

.ser-background {
    background-color:#5162b8;
    text-align: center;
    
}

.ser-background h2 {
    color:white;
    font-weight: 300;
    letter-spacing: 5px;
    border-bottom:2px solid white;
    padding:20px 0px;
    margin-top:70px;
    margin-bottom: 30px;
}

.box {
    background-color: transparent;
    margin-bottom:70px;
    margin-top: 0px;
    cursor: pointer;
}
.box h5 {
    background-color: white;
    padding:40px;
     -webkit-box-shadow: 10px 11px 37px -13px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 11px 37px -13px rgba(0,0,0,0.57);
    box-shadow: 10px 11px 37px -13px rgba(0,0,0,0.57);
}

.box a {
    text-decoration: none;
}


.web-design {
    background-image: url('web-design.png');
    background-size: cover;
}

.web-design a {
    color:white;
}


.graphic-design {
    background-image: url('graphic-design.png');
    background-size: cover;
}

.graphic-design a {
    color:white;
}


.webapp-design {
    background-image: url('webapp-design.png');
    background-size: cover;
}

.webapp-design a {
    color:white;
}

.contact-background {
    background-color:black;
    margin-top:100px;
    
}

.contact-sec {
    margin-top : 70px;
    margin-bottom : 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.contact-sec h5 {
    color:white;
}

.contact-sec p {
    color:white;
}
.contact-sec input {
     width:280px;
    padding:8px ;
    margin-top:30px;
    font-size: 10px;
}

.address {
    padding-top:30px;
}

.footer {
    margin:50px 0px;
}

.footer img {
   width:30px;
   height: 30px;
}

.social-img {
    display: flex;
    justify-content: space-between;
}